{{#if @site.logo}}
<img class="subscribe-overlay-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
{{/if}}
<div>
    站点由 <a href="http://weibo.com/338363939/" target="_blank">@huhuhang</a> 维护，文章均为原创。全站文章均谢绝转载。<br>
    部分应用测评和摄影技巧的文章均首次发表于 <a href="https://sspai.com/" target="_blank">少数派 sspai.com</a>。<br><br>
</div>
<div>
    <img style="width:150px; padding:10px;" src="/content/images/_image/caffe.png">
</div>