/* 自定义样式 */

/* 顶部浮动条 */

.floating-header {
    height: 1px !important;
}

/* 文章题图 */

.post-full-image {
    margin: unset !important;
}

.post-full-image img {
    height: 300px !important;
}

@media (max-width: 800px) {
    .post-full-image {
        display: none !important;
    }
}

/* 文章字体和段落样式 */

.post-full-content:before,
.post-full-content:after {
    display: none !important;
}

.post-template .post-content>p:first-child {
    font-size: unset !important;
    line-height: unset !important;
}

.post-full-header {
    padding: 3vw 0vw 3vw !important;
}

.post-full-title {
    font-size: 3rem !important;
    background: #000;
    color: #fff !important;
    border-radius: 5px;
}

.post-full-content {
    font-size: 2.0rem !important;
}

.post-full-content h2 {
    font-size: 2.5rem !important;
}

.post-full-content h3 {
    font-size: 2.2rem !important;
}

.author-card-button {
    background: #4267b2;
    border: none !important;
}

.social-link-custom {
    padding-top: 5px;
    width: 24px;
    display: block;
}

.post-full-content img,
.post-full-content video {
    max-width: 100% !important;
}

/* sspai.com 图片排版旧样式 */

.row {
    position: relative;
    width: 96%;
    padding: 3%;
    margin: 25px 0 0;
    clear: both;
    display: table;
    background: #fff;
    border-radius: 1px;
}

.row .grid4,
.row .grid6 {
    text-align: center;
    float: left;
    margin: 1%;
}

.row .grid4 img,
.row .grid6 img {
    max-width: 100%;
    margin: 0;
    height: auto;
}

.row .grid6 {
    width: 47%;
}

.row .grid4 {
    width: 30.6%;
    font-size: .85em;
}